@model List<Employee>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @*@using(@Html.BeginForm("Details", "Home",  FormMethod.Post))
    {
        <input id="input" type="text" name="id" />
        <button class="btn btn-primary" type="submit" name="button">click</button>
    }*@
    
<div class="card-deck">
    @foreach (@EmployeeManagement2_2.Models.Employee emp in @Model)
    {
        var photoPath = "~/Images/" + (emp.PhotoPath ?? "Kof2k4se.bmp");
    <div class="card m-3">
        <div class="card-header">
            <h3>@emp.Name</h3>
        </div>
        <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
        <div class="card-footer text-center">
            @Html.ActionLink("View", "Details", "Home", new { id = emp.Id}, new { @class = "btn btn-primary" })
            @*<button cli class="btn btn-primary">View</button>*@
            <a asp-action="edit" asp-controller="home" asp-route-id="@emp.Id" class="btn btn-success">Edit</a>
            <a href="@Url.Action("Delete", "Home", new { id = emp.Id })" class="btn btn-danger">Delete</a>
        </div>
    </div>
    }
       </div> 
    